/*Everything*/

body {
    background: #000000;
}
.d-flex article a:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    display: inline-block;
    margin-right: 6px;
    border-radius: 12px;
    box-sizing: border-box;
}
.button:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    display: inline-block;
    margin-right: 6px;
    border-radius: 12px;
    box-sizing: border-box;
}


/*Background images*/

.first_section {
    position: relative;
    min-height: 100vh;
    background: url("../img/First_bg_image.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.section_3 {
    position: relative;
    min-height: 600px;
    background: url("../img/Section_3.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ui-widget-content {
    border: 1px solid rgb(221, 221, 221);
    background: rgb(255, 255, 255, 0);
    color: rgb(51, 51, 51);
}
.section_3 ul {
    display: flex;
    position: absolute;
    right: 39px;
    bottom: 41px;
}
.section_3 ul li:first-child a {
    align-items: end;
}
.section_3 ul li:first-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_1.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.section_3 ul li a {
    display: flex;
    align-items: start;
}
.section_3 ul li:nth-child(2) a {
    align-items: end;
}
.section_3 ul li:nth-child(2) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_2.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.section_3 ul li:nth-child(3) a {
    align-items: end;
}
.section_3 ul li:nth-child(3) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_3.png") no-repeat;
    width: 32px;
    height: 16px;
    margin-right: 7px;
}
.section_3 ul li:last-child a {
    align-items: end;
}
.section_3 ul li:last-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_4.png") no-repeat;
    width: 10px;
    height: 16px;
    margin-right: 6px;
}
.section_4_img {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-image: url("../img/Section_4.jpg");
    background-size: cover;
}
.section_5 {
    background: url("../img/Section_5.jpg") no-repeat;
    background-size: cover;
}
.section_6 {
    background: url("../img/Section_6.jpg") no-repeat;
    background-size: cover;
}
.first_section ul li:first-child a {
    align-items: end;
}
.first_section ul {
    display: flex;
    position: absolute;
    right: 39px;
    bottom: 41px;
}
.first_section ul li:first-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_1.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.first_section ul li a {
    display: flex;
    align-items: start;
}
.first_section ul li:nth-child(2) a {
    align-items: end;
}
.first_section ul li:nth-child(2) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_2.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.first_section ul li:nth-child(3) a {
    align-items: end;
}
.first_section ul li:nth-child(3) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_3.png") no-repeat;
    width: 32px;
    height: 16px;
    margin-right: 7px;
}
.first_section ul li:last-child a {
    align-items: end;
}
.first_section ul li:last-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_4.png") no-repeat;
    width: 10px;
    height: 16px;
    margin-right: 6px;
}
.section_4 {
    position: relative;
    display: flex;
}
.section_4 ul li:first-child a {
    align-items: end;
}
.section_4 ul {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 45px;
    z-index: 2;
}
.section_4 ul li:first-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_1.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.section_4 ul li a {
    display: flex;
    align-items: start;
}
.description p {
    max-width: 360px;
}
.section_4 ul li:nth-child(2) a {
    align-items: end;
}
.ui-icon {
    background-image: none;
    background-position: 0;
    text-indent: 0;
    margin: 0;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-color: transparent;
    border: none;
    animation: slide 1s infinite;
    transform: rotate(0deg);
    top: -5px;
}
.ui-accordion .ui-accordion-header {
    background-color: transparent;
    border: none;
    text-align: center;

}
.ui-accordion-header.ui-state-active .ui-icon{
    transform: rotate(0deg);
    top: -5px;
    animation: slide 1s infinite;
}
@keyframes slide {
    0%{
        top: -15px;
    }
    100%{
        top: 0px;
    }
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon, .ui-icon, .ui-widget-content .ui-icon{
    background-image: none;
    background-position: 0;
    text-indent: 0;
    margin: 0;
    position: relative;
    top: 0px;
    left: -10px;
    display: inline-block;
    transform: rotate(90deg);
    animation: slide_left 1s infinite;

}
@keyframes slide_left {
    0%{
        left: -15px;
    }
    100%{
        left: 0px;
    }
}

.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon{
    background-image: none;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon, .ui-icon, .ui-widget-content .ui-icon{
    background-image: none;
    background-position: 0;
    display: inline-block;
    text-indent: 0;
    margin: 0;
    position: relative;
    top: -3px;
    left: -10px;
}
.ui-icon:after{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f078";
}

.section_4 ul li:nth-child(2) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_2.png") no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.section_4 ul li:nth-child(3) a {
    align-items: end;
}
.section_4 ul li:nth-child(3) a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_3.png") no-repeat;
    width: 32px;
    height: 16px;
    margin-right: 7px;
}
.section_4 ul li:last-child a {
    align-items: end;
}
.section_4 ul li:last-child a:before{
    content: "";
    display: inline-block;
    background: url("../img/Icon_4.png") no-repeat;
    width: 10px;
    height: 16px;
    margin-right: 6px;
}
.section_4 ul li {
    margin-right: 16px;
}
.section_4 ul li:last-child {
     margin-right: 0;
 }

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    border: 0;
    padding: 24px 0;
}
/*Wrappers*/

.clients {
    padding: 40px 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_4_container {
    min-width: 1200px;
    padding: 173px 0 153px;
    box-sizing: border-box;
    margin: auto;
}
.container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}
.container_2 {
    max-width: 1200px;
    margin: auto;
    display: block;
}
header {
    background: #181818;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 24px 20px 24px 32px;
    box-sizing: border-box;
}
.catalog {
    padding: 120px 0 100px;
    box-sizing: border-box;
    margin: auto;
}
.container_2 .d-flex {
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    min-height: 1248px;
}
.container_1 {
    padding-bottom: 71px;
    box-sizing: border-box;
    text-align: center;
}
.description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    border-radius: 14px;
    align-items: center;
    color: #000000;
    box-sizing: border-box;
    background-color: white;
    padding: 5px 10px 5px 4px;
    display: flex;
    max-width: 143px;
    align-items: center;
}
.description p:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 10px;
}
.description a:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    display: inline-block;
    margin-right: 6px;
    border-radius: 12px;
    box-sizing: border-box;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
header .d-flex {
    align-items: center;
}
.d-flex article {
    position: relative;
    max-width: 576px;
}
.description {
    position: absolute;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}
.container .button {
    margin: auto;
}

.list_wrapper {
    display: flex;
}


/*Form*/

.buttonIn {
    min-width: 458px;
    position: relative;
    margin: auto  0;
}

.input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 11px 6px 11px 7px;
    border-radius: 12px;
    box-sizing: border-box;
    border: 0px solid black;
}
.btn {
    position: absolute;
    right: 6px;
    z-index: 2;
    border: none;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    color: red;
    transform: translateX(2px);
    border-radius: 11px;
    width: 63px;
    height: 30px;
    background: #000000;
}
input::placeholder {
    color: white;
}
.clients2 {
    height: 78px;
    display: flex;
    align-content: center;
    padding-right: 48px ;
    padding-left: 48px ;
    box-sizing: border-box;
}
.owl-carousel .owl-nav button.owl-prev {
    width: 24px;
    height: 24px;
    background: url("../img/Back-icon.png");
    border-radius: 50%;
    margin-left: -50px;
    content: "+";
    color: white;
}

.owl-carousel .owl-nav button.owl-next {
    width: 24px;
    height: 24px;
    background: url("../img/Next-icon.png");
    border-radius: 50%;
    margin-right: 30px;
    content: "+";
    color: white;
}
/*.owl-carousel .owl-nav button.owl-next {*/
/*    background: url("../img/Next-icon.png");*/
/*}*/
.owl-nav {
    position: absolute;
    width: 100%;
    top: 35%;
    display: flex;
    justify-content: space-between;
}
.owl-carousel button.owl-dot:first-child span{
    margin-right: 12px;
}
.owl-carousel button.owl-dot:last-child span{
    margin-left: 12px;
}
.owl-carousel button.owl-dot span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: white;
    background: #717171;
    margin-top: 50px;
}
.owl-carousel button.owl-dot.active span{
    background: #F1F1F1;
}
/*.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {*/
/*    background: url("../img/Back-icon.png");*/
/*}*/
/*Footer*/

footer .container:last-child ul li {
    margin-right: 20px;
}
footer .container:last-child ul li:last-child {
    margin-right: 0;
}
footer .container:last-child:before {
    content: "";
    display: inline-block;
    height: 2px;
    background: white;
    width: 100%;
    position: absolute;
    top: 36px;
}
footer .container {
    position: relative;
    padding-top: 72px;
}
footer {
    padding: 100px 0;
    box-sizing: border-box;
}
footer .container:first-child {
    padding-top: 0;
}
footer .container:nth-child(2):before {
    content: "";
    display: inline-block;
    height: 2px;
    background: white;
    width: 100%;
    position: absolute;
    top: 36px;
}
footer .container:last-child p {
    align-content: end;
}

article {
    position: relative;
}
/*Paddings, Margins, Text settings*/

header nav ul li {
    margin-right: 32px;
}
header nav ul li:nth-child(4) {
    margin-right: 31px;
}
header nav ul li:first-child {
    margin-right: 56px;
}
.catalog h2 {
    text-align: center;
}
.catalog h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 42px;
}
.container_2 h4 {
    font-size: 23px;
}
header nav ul li:last-child {
    margin-right: 0;
}
a {
    text-decoration: none;
}
.d-flex article p:nth-child(2) {
    margin-bottom: 20px;
    margin-top: 10px;
}
.section_4 p {
    margin-bottom: 20px;
}
.section_3 .container_4 {
    margin-right: 64px;
}
.section_3 ul li{
    margin-right: 16px;
    list-style: none;
}
.section_3 ul li:last-child {
    margin-right: 0;
}
.list_wrapper ul:first-child {
    margin-right: 55px;
}
footer .container:first-child ul li {
    margin-bottom: 10px;
}
footer .container:last-child ul li {
    height: 24px;
}
footer .container:last-child ul  {
    height: 24px;
}
footer ul li:last-child {
    margin-bottom: 36px;
}
.first_section .headline {
    margin-top: 0px;
    margin-bottom: 1px;
}
.first_section p {
    margin-top: 18px;
}
.first_section ul li{
    margin-right: 16px;
    list-style: none;
}
.first_section ul li:last-child {
    margin-right: 0;
}
.section_4 h2 {
    margin: 8px 0 14px;
}
.section_4_container p {
    max-width: 514px;
}
footer .container:first-child img {
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.padding {
    padding: 120px 0 100px;
    box-sizing: border-box;
    margin: auto;
}
.Photography_help {
    margin: 15px 0 22px;
}
.Past_clients {
    margin: 15px 0 42px;
}



/*.button {*/

/*    box-sizing: border-box;*/
/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    letter-spacing: 0.4px;*/
/*    background: rgb(0, 0, 0, 0);*/
/*    border: 0px;*/
/*    border-radius: 14px;*/
/*    text-decoration: none;*/
/*    color: #1B1A1A;*/
/*}*/
.button_filled {
    background: #1B1A1A;
    color: white;
}
.logo {
    width: 124px;
    height: 124px;
}
.margin_button_2 {
    margin-top: 96px;
}
.owl-carousel article img {
    max-width: 117px;
}
.container_2piece article {
    max-width: 378px;
    display: inline-block;
}
.container_2piece article img{
    margin: auto;
    margin-bottom: 12px;
}
.owl-carousel.owl-drag .owl-item {
    display: flex;
    justify-content: center;
}